.jumbatronBig {
    background-color: #4a4e69;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    height: 600px;
}

.container {
    align: center;
    width: 80%;
}

    ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #651FFF;

}

.scroll{
	overflow-y: scroll;
	scroll-behavior: smooth;
	height: 325px;
}

.userMsg{
    padding: 0px 10px 0px 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    color: white;
    font-size: 23px;
    display: table
}

.otherUserMsg{
    padding: 0px 10px 0px 10px;
    margin-bottom: 8px;
    background-color: #4a4e69;
    border-radius: 10px;
    color: #f6f4d2;
    font-size: 20px;
    display: table

}

.rounded{
    border-radius: 10px;
    background-color: #9d4edd;
    color: #f6f4d2;
    padding: 0px;
}

.chatRoomHeader{
    border-radius: 5px;
    background-color: #9d4edd;
    color: #f6f4d2;
    padding: 0px;
}

#BotMessages{
    float: left;
    width:50%;
}

#BotMessages > div {
    background-color: #9a8c98;
}

#UserMessages{
    float: left;
    width:50%;
}

#UserMessages > div {
    background-color: #c9ada7;
}

.member{
    font-size: 20px;
    color: #f6f4d2;
    border-radius: 6px;
    background-color: #5a189a;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px 0px 0px 5px;
}


.member:hover{
    background-color: #240046;
}

.member_hyperlink{
    color: #f6f4d2;
}

.member_hyperlink:hover{
    color: #f6f4d2;
}
.emptyMsg{
    padding: 0px 0px 0px 10px;
    margin-bottom: 8px;
    background-color: red;
    border-radius: 10px;
    color: #f6f4d2;
    font-size: 25px;
    visibility: hidden;

}

.footer {
    background-color: #212529;
    text-align: center;
    padding: 10px;
}

.footer > p {
    color: white;
    font-size: 30px;
}

.botImg {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.userImg {
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}